@font-face {
    src: url("CursedTimerULiL.ttf");
    font-family: DigitalTimer;
}

body {
    background-color:  #E5E5E5;
    margin: 0;
    font-family: Verdana, sans-serif;
}

*, *::before, 
    *::after {
        box-sizing: border-box;
    }

.container {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    margin: 120px auto;
    width: 575px;
    height: 385px;
    color:#EEEEEE;
    background: #1B244A;
    border-radius: 12px;
}

p, button {
    font-family: DigitalTimer;
}

p {
    font-size: 90px;
    margin: 0;
    color: #F94F6D;
    background: #080001;
    padding:10px;
    border-radius: 7px;

}

button {
    background: #1B244A;
    padding: 8px;
    color: #9AABD8;
    border: 1px solid #9AABD8;
    border-radius: 5px;
    font-size: 18px;
    margin-top: 20px;
}

.ng-button {
    display: block;
    width: 300px;
    text-align: center;
    margin-top: 30px;
}

h2 {
    font-size: 40px;
    margin-bottom: 10px;
}

